{
  "extends": ["prettier"],
  "parserOptions": {
      "ecmaVersion": 8
  },
  "env": {
      "es6": true,
      "node": true
  },
  "overrides": [
    {
      "files": ["test/**"],
      "plugins": ["mocha"],
      "extends": "plugin:mocha/recommended",
      "rules": {
        "global-require": "off",
        "no-await-in-loop": "off",
        "mocha/no-mocha-arrows": "off"
      }
    }
  ]
}
